@font-face {
  font-family: Nunito;
  src: url(../../../public/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.card{
  background-color: aliceblue;
  display: flex;
  text-align: cen;
  flex-wrap: wrap;
  width : 30rem;
  height: 40rem;
  justify-content: space-between;
  align-items: center;
  border: rgb(211, 211, 211);
  border-radius: 50px;
  border-style: solid;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 5px #80808060;
  margin-top: 25px;
  margin-bottom: 25px;

}

.root{
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

*{
  margin: 5px;
  font-family: Nunito;
}

p{
  color: black;
  font-size: 30px;
  font-weight: 10;
}
h3{
  font-size: 30px;
  font-weight:  500;
}
form{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.routing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.routing-btn{
  margin: 10px
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
