<div class="root">
  <div class="card">
    <h3>{{ this.name }}</h3>
    <p>Do Vote</p>
    <form id="form">
      <input
        placeholder="Id"
        id="secret"
        type="password"
        class="form-control"
        [(ngModel)]="id"
        [ngModelOptions]="{ standalone: true }"
      />
      <div class="input-group">
        <div *ngFor="let i of candidates">
          <div class="input-group-text">
            <input
              name="candidates"
              type="radio"
              class="form-check-input mt-0"
              id="{{ i }}"
              value="{{ i }}"
            />
            <div>
              {{ i }}
            </div>
          </div>
        </div>
      </div>
      <button type="submit" (click)="submit()" class="btn btn-primary">
        Senden
      </button>
      <button
        type="button"
        (click)="this.routing.toShowVotes()"
        class="btn btn-secondary"
      >
        ToVoting
      </button>
    </form>
  </div>
</div>
