<div class="root">
  <div id="activateVoting" class="card">
    <h3>Status</h3>
    <p id="activateVoting_status" class="first_column first_row">
      {{ this.status }}
    </p>
    <button
      (click)="onActivateVoting()"
      id="activateVoting_activateVoting"
      class="btn btn-primary"
    >
      Voting aktivieren
    </button>
    <button
      (click)="onDeactivateVoting()"
      id="activateVoting_deactivateVoting"
      class="btn btn-primary"
    >
      Voting deaktivieren
    </button>
  </div>

  <div id="addNewVotables" class="card">
    <h3>Insert Votable ID's</h3>
    <form>
      <input
        class="form-control"
        placeholder="New ID"
        [(ngModel)]="votable"
        [ngModelOptions]="{ standalone: true }"
      />
      <button type="button" class="btn btn-success" (click)="onAddNewVotable()">
        Speichern
      </button>
    </form>
  </div>

  <div id="deleteAllEntries" class="card">
    <h3>Database Controll</h3>
    <form>
      <button (click)="onDeleteAll()" class="btn-danger btn">
        Alles löschen
      </button>
    </form>
  </div>
  <div id="logout" class="card">
    <h3>Change Tab</h3>
    <form class="routing">
      <button (click)="onLogout()" class="routing-btn btn-danger btn">
        Logout
      </button>
      <button (click)="onShowElection()" class="routing-btn btn-primary btn">
        Zu den Ergebnissen
      </button>
      <button (click)="onElection()" class="routing-btn btn-info btn">
        Selber abstimmen
      </button>
    </form>
  </div>
</div>
