@font-face {
  font-family: Nunito;
  src: url(../../../public/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.card{
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  width : 30rem;
  height: 20rem;
  justify-content: space-around;
  align-items: center;
  border: rgb(211, 211, 211);
  border-radius: 50px;
  border-style: solid;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 5px #80808060;
  margin-top: 25px;
  margin-bottom: 25px;

}

#card-allIds, #card-allCandidates{
  height: auto;
  min-height: 20rem;
  width: 30rem;
  text-align: center;
}

.errorMessage{
  width: 15rem;
  height: auto;
  color:rgb(243, 72, 72);
  font-size: 25px;
}

#allIds{
  margin: 20px;
  margin-bottom: 30px;
}


.root{
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

*{
  margin: 5px;
  font-family: Nunito;
}

p{
  color: black;
  font-size: 30px;
  font-weight: 10;
}
h3{
  font-size: 30px;
  font-weight:  500;
}
form{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.routing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.routing-btn{
  margin: 10px
}

.id-list-item{
  width: 15rem;
  display: flex;
  margin:0;
  justify-content: space-between;
}
